
/* --orange : rgba(231, 108, 31, 1)
--beige : rgba(253, 234, 220, 1)
--dunkel : rgba(54, 53, 52, 1) */

.header{
    width: 100%;
    background-color: rgba(231, 108, 31, 1);
}


.header_inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}


.menu_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: transparent;
    width: 45px;
    height: 45px;
}


.menu_button span{
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}


.header_menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 220px;
    top: 65px;
    right: 40px;
    padding: 10px;
    background-color: rgba(54, 53, 52, 1);
    color: white;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);
    z-index: 1;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        visibility 0.5s;
}


.header_menu_open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.header_menu a{
    font-size: 14px;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    color: white;
    padding: 14px;
}


.header_menu a:hover{
    background-color: rgba(231, 108, 31, 1);
}


.main_content{
    width: 100%;
    min-height: 100dvh;
}


.restaurant{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.hero{
    max-width: 100%;
}


.hero_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.restaurant_info{
    position: relative;
    min-height: 200px;
    padding: 110px 20px 35px;
    text-align: center;
}


.restaurant_logo{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}


.restaurant_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.restaurant_title h1{
    font-size: 48px;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 700;
}


.restaurant_title span{
    color: rgba(231, 108, 31, 1);
}


.restaurant_rating{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
}


.star{
    color: rgba(231, 108, 31, 1);
    
}


.restaurant_info p{
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
}


.shop_area{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.products{
    width: 100%;
}


.category{
    width: 100%;
    margin-bottom: 60px;

}


.category_bar{
    position: relative;
    left: 50%;
    width: 100vw;
    height: 60px;
    transform: translateX(-50%);
    background-color: rgba(231, 108, 31, 1);
}


.category_bar_inner{
    width: 1100px;
    max-width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
}


.category_bar h2 {
    font-size: 40px;
    color: white;
}


.category_products{
    width: 700px;
    margin-left: 120px;
    padding-top: 24px;
}


.product_card {
    width: 100%;
    min-height: 140px;
    margin-bottom: 14px;
    padding: 10px;
    display: flex;
    align-items: stretch;
    gap: 14px;
    border-radius: 12px;
    background-color: rgba(253, 234, 220, 1);
}


.product_info {
    min-width: 0;
    padding-top: 4px;
    flex: 1;
}

.product_info h3 {
    margin-bottom: 7px;
    font-size: 24px;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;    
}


.product_info small {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
}


.product_action {
    width: 110px;
    padding: 4px 2px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.product_action strong {
    font-size: 16px;
    white-space: nowrap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
}


.add_button {
    padding: 5px 8px;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    white-space: nowrap;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
}


.add_button:hover {
    color: white;
    background-color: rgba(231, 108, 31, 1);
}


