* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    color: rgba(54, 53, 52, 1);
}


body {
    max-height: 100dvh;
    background-color: white;
}


button {
    border: none;
    cursor: pointer;
}


img {
    display: block;
}


a {
    text-decoration: none;
}